@font-face {  
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/lato-v17-latin-700.eot); 
    src: local(''),
       url(fonts/) format('embedded-opentype'), 
       url(fonts/lato-v17-latin-700.woff2) format('woff2'), 
       url(fonts/lato-v17-latin-700.woff) format('woff'), 
       url(fonts/lato-v17-latin-700.ttf) format('truetype'), 
       url(fonts/lato-v17-latin-700.svg) format('svg'); 
}

@font-face {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        src: url(fonts/lato-v17-latin-regular.eot); 
        src: local(''),
       url(fonts/) format('embedded-opentype'), 
       url(fonts/lato-v17-latin-regular.woff2) format('woff2'), 
       url(fonts/lato-v17-latin-regular.woff format('woff'), 
       url(fonts/lato-v17-latin-regular.ttf) format('truetype'), 
       url(fonts/lato-v17-latin-regular.svg) format('svg'); 
} 
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/lato-v17-latin-300.eot); 
    src: local(''),
       url(fonts/) format('embedded-opentype'), 
       url(fonts/lato-v17-latin-300.woff2) format('woff2'), 
       url(fonts/lato-v17-latin-300.woff) format('woff'), 
       url(fonts/lato-v17-latin-300.ttf) format('truetype'), 
       url(fonts/lato-v17-latin-300.svg) format('svg'); 
} 
@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: url(fonts/lato-v17-latin-italic.eot); 
    src: local(''),
       url(fonts/) format('embedded-opentype'), 
       url(fonts/lato-v17-latin-italic.woff2) format('woff2'), 
       url(fonts/lato-v17-latin-italic.woff) format('woff'), 
       url(fonts/lato-v17-latin-italic.ttf) format('truetype'), 
       url(fonts/lato-v17-latin-italic.svg) format('svg'); 
} 
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/lato-v17-latin-900.eot); 
    src: local(''),
       url(fonts/) format('embedded-opentype'), 
       url(fonts/lato-v17-latin-900.woff2) format('woff2'), 
       url(fonts/lato-v17-latin-900.woff format('woff'), 
       url(fonts/lato-v17-latin-900.ttf) format('truetype'), 
       url(fonts/lato-v17-latin-900.svg) format('svg'); 
}  
